@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #e5f4fb;
    font-family: 'Montserrat' ;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

:root {
  --primary-bg: #e5f4fb; 
  --secondary-bg: #3C98A7;
}